* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 11px;
    min-height: 0;
    transition: 0.3s;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #F9F7FB;
}

window#waybar.empty #window {
	background: rgba(12, 12, 12, 0.0);
}

tooltip {
    background: #0A121A;
    border-radius: 5px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #0A121A; 
    transition: 0.3s;
}

#workspaces button {
    padding: 5px;
    color: #494949;
    margin-right: 5px;
}

#workspaces button.active {
    color: #F9F7FB;
}

#workspaces button.focused {
    color: #F9F7FB;
    background: #0A121A;
    border-radius: 5px;
}

#workspaces button.urgent {
    color: #0A121A;
    background: #F9F7FB;
    border-radius: 5px;
}

#workspaces button:hover {
    background: #0A121A;
    color: #cdd6f4;
    border-radius: 5px;
}

#custom-power_profile,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#custom-playerctl,
#backlight  {
    background: #0A121A;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 0;
    margin-top: 5px;
}

#temperature {
    border-radius: 5px 5px 5px 5px;
}

#temperature.critical {
    color: #eba0ac;
}

#backlight {
    border-radius: 5px 5px 5px 5px;
    padding-left: 7px;
    margin-right: 7px;
}

#tray {
    border-radius: 5px;
    margin-right: 5px;
    padding: 0px 4px;
}


#workspaces {
    background: #0A121A;
    border-radius: 5px;
    margin-left: 5px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-power_profile {
    color: #F9F7FB;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#clock {
    color: #F9F7FB;
    border-radius: 5px;
    margin-left: 5px;
    border-right: 0px;
    transition: 0.3s;
    padding-left: 7px;
}

#network {
    color: #F9F7FB;
    border-radius: 5px 0px 0px 5px;
    border-left: 0px;
    border-right: 0px;
}

#bluetooth {
    color: #89b4fa;
    border-radius: 5px;
    margin-right: 10px
} 

#pulseaudio {
    color: #F9F7FB;
    border-left: 0px;
    border-right: 0px;
    border-radius: 5px 0px 0px 5px;
}

#pulseaudio.microphone {
    color: #F9F7FB;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 5px 5px 0px;
    margin-right: 5px;
    padding-right: 8px;
}

#battery {
    color: #F9F7FB;
    border-radius: 5px 5px 5px 5px;
    margin-right: 5px;
    border-left: 0px;
}

#playerctl {
  color: #F9F7FB;
  border-radius: 3px;
  font-family: FiraCodeNerdFont;
  font-size: 11;
}

#custom-weather {
    border-radius: 3px;
    border-right: 0px;
    margin-left: 0px;
}
